* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.kapsayici {
    width: 400px;
    height: 400px;
    margin: 200px auto;
    perspective: 300px;
}

.kup {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotate3d(1,1,1, 45deg);
    animation-name: kup;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.kenar {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #131313;
    opacity: .7;
    font-size: 70px;
    line-height: 200px;
    text-align: center;
    color: aliceblue;
    border: 15px solid #fff;
}

.on {
    transform: translateZ(100px);
}

.arka {
    transform: rotate(180deg) translateZ(100px);
}

.sag {
    transform: rotateY(90deg) translateZ(100px);
}

.sol {
    transform: rotateY(-90deg) translateZ(100px);
}

.ust {
    transform: rotateX(90deg) translateZ(100px);
}

.alt {
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes kup {
    0% {
        transform: rotate3d(1,1,1, 45deg);
    }
    100% {
        transform: rotate3d(11,11,11, 105deg);
    }
}